@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,500&family=DM+Sans:ital,opsz,wght@9..40,100..1000;1,9..40,100..1000&display=swap"); */

body {
    font-family: "DM Sans", sans-serif;
    background-color: #fff;
}

h1 {
    font-weight: 3rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
}

p, a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "DM Mono";
    font-size: 0.85rem;
    font-weight: 550;
    line-height: 1;
    display: inline-block;
}

nav, footer {
    position: fixed;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    mix-blend-mode: difference;
    z-index: 2;
}

nav .nav-links {
    display: flex;
    gap: 0.75rem;
}

footer {
    bottom: 0;
}

.clients {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2rem;
    overflow: hidden;
}

